# This file will not be committed - add your UID and GID here

# Set your GID and UID here so that docker permissions are correct.
# This is system-specific, so do not commit it

# Find UID by running: "id -u $USER"
# Find GID by running: "id -g $USER"

UID=1000
GID=1000
