Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:

      # Will remove broken instances faster
      # NB: Average instance deploy takes 120 sec
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300

      # Safer option which doesn't remove instances
      # HealthCheckType: EC2
